@import "bootstrap/scss/bootstrap";

body {
  background-color: #28a745;
  font-family: "Arial", sans-serif;
  text-align: center;
}
.navbar {
  background-color: #28a745 !important; }
  
.navbar-brand {
    color: white !important;
  }

.card {
  border: 3px solid #28a745;
  background: #d4edda;
}
.btn-st-patrick {
  background-color: #155724;
  color: white;
  &:hover {
    background-color: #0f3d19;
  }
}

.carousel-item {
  img {
    border-radius: 10px;
  }
}
